Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
AcceptEnv LANG LC_*

Match User rogue,nethack
	PubkeyAuthentication no
	PasswordAuthentication yes
	PermitEmptyPasswords yes
	DisableForwarding yes
